// _sass/minimal-mistakes/skins/_software-studies-dark.scss

/* ==========================================================================
   Software Studies Dark skin
   ========================================================================== */


/* 
$background-color: #111111 !default;
$body-color: #111111 !default;
$text-color: #b8bcc2 !default;
$muted-text-color: #8f969d !default;
$primary-color: #5b9bb4 !default;
$link-color: #4f9fbd !default;
$link-color-hover: lighten($link-color, 10%) !default;
$masthead-link-color: #9da3aa !default;
$masthead-link-color-hover: #d2d6da !default;
$border-color: #34383c !default;
$footer-background-color: #111111 !default;
$navicon-link-color-hover: mix(#fff, $text-color, 25%) !default;
 */

/* 
 $background-color: #0f1113 !default;
 $body-color: #0f1113 !default;
 $text-color: #c6c9ce !default;
 $muted-text-color: #8d949c !default;
 $primary-color: #62aeca !default;
 $link-color: #59b6d6 !default;
 $link-color-hover: lighten($link-color, 10%) !default;
 $masthead-link-color: #a2a8b0 !default;
 $masthead-link-color-hover: #f0f3f5 !default;
 $border-color: #2d3338 !default;
 $footer-background-color: #0f1113 !default;
 $navicon-link-color-hover: mix(#fff, $text-color, 25%) !default;
*/


 $background-color: #12110f !default;
 $body-color: #12110f !default;
 $text-color: #c5c0b8 !default;
 $muted-text-color: #969087 !default;
 $primary-color: #6fa8b8 !default;
 $link-color: #68aeca !default;
 $link-color-hover: lighten($link-color, 10%) !default;
 $masthead-link-color: #aaa49a !default;
 $masthead-link-color-hover: #eee8dc !default;
 $border-color: #39352f !default;
 $footer-background-color: #12110f !default;
 $navicon-link-color-hover: mix(#fff, $text-color, 25%) !default;
 